/* Reset e Estilos Básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #111317;
    /* Cor de fundo */
    color: #333;
    animation: fadeIn 1s ease-in-out;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Cabeçalho e Menu */
header {
    background-color: #111317;
    color: white;
    padding: 1.5em 0;
    text-align: center;
}

.logo {
    width: 50vh;
    height: auto;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.logo:hover {
    transform: scale(1.10);
}

#menu-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

#menu-horizontal ul {
    list-style: none;
    display: flex;
    margin-left: -20vh;
    font-size: 18px;
}

#menu-horizontal ul li {
    margin: 0 1em;
}


#menu-horizontal ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;

}

#menu-horizontal ul li a:hover {
    color: #f9ac54;
    transform: scale(1.1);
}

#join_now {
    font-size: 15px;
    background-color: #f9ac54;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transform-origin: center;
    transition: transform 0.3s ease;
}

#join_now:hover {
    color: white;
    background-color: #f9ac54;
    outline: 2px solid #4affff;
    transform: scale(1.10);
}

/* Conteúdo Principal */
.container_front {
    text-align: left;
    padding: 10% 15% 5% 23%;
    color: white;
    position: relative;
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.container_front::before {
    content: "";
    background-image: url('../img/header.png');
    background-size: auto 100%;
    background-position: 80% calc(50% + 50px);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 1;
}

.text {
    position: relative;
    z-index: 2;
}

.container_front h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.container_front h4 {
    color: #f9ac54;
}

.container_front p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

#get_started {
    background-color: #f9ac54;
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    z-index: 2;
    text-decoration: none;
    display: inline-block;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

#get_started:hover {
    background-color: #f9ac54;
    outline: 2px solid #4affff;
}

/* Agora parte dos cards */

.program {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 25vh;
}

.program h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    padding-top: 70px;
    padding-bottom: 50px;
}

.program h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
}

.program-tab {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.tab {
    background-color: #22252a;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: left;
    transition: all 0.3s ease-in-out;
}

.tab:hover {
    background-color: #272a30;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #4affff;
    transform: scale(1.05);
    /* Aumenta o card ao passar o mouse */
}

@media (max-width: 768px) {

    .program-tab,
    .benefits,
    .plans-container {
        flex-direction: column;
        align-items: center;
    }
}

.icon img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    /* Garante que a imagem se ajuste sem distorção */
    background-color: #F9AC54;
    padding: 5px;
    border-radius: 5px;
}


.tab h3 {
    font-size: 18px;
    margin: 0 0 10px;
}

.tab p {
    font-size: 14px;
    color: #ccc;
}

/* Sessão das duas fotos e conteúdo com botão */

.class-book-a-class {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    color: white;
}

.class-conteudo {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    height: 500px;
    margin-bottom: 35vh;
}

.imagem {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.imagem.animate {
    opacity: 1;
}

.imagem .back {
    width: 475px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 25%;
    z-index: 1;
}

.imagem .front {
    width: 350px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    left: 15%;
    top: 60%;
    z-index: 2;
    margin-bottom: 20px;
}

/* Ajustes no texto */

.class-text {
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
    text-align: left;
    padding: 100px 200px 100px 900px;
    z-index: 2;
}

.book-class {
    background-color: #F9AC54;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.book-class:hover {
    background-color: #4affff;
}

/* sessão why */

.why-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
}

.why-join-us h2 {
    margin-top: 130px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.why-join-us p {
    color: white;
    text-align: center;
    font-size: 17px;
}

/* Contêiner da Imagem e Benefits */

.img-container {
    position: relative;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

/* Estilos da Imagem */
.img-why {
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.img-why.animate {
    opacity: 1;
}

.benefits {
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    /*translateX(-50%) funciona para garantir que o centro da div.benefits esteja alinhado com o centro do contêiner*/
    display: flex;
    gap: 30px;
    padding: 20px;
    background-color: #22252a;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;

}

/* Estilos para cada benefício */
.benefit-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 20px;
    background-color: #22252a;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.benefit-item:hover {
    background-color: #272a30;
    border: 1px solid #4affff;
    transform: translateY(-10px);
    /* Move o card para cima ao passar o mouse */
    transition: transform 0.3s ease-in-out;
}

.benefit-item .icon img {
    width: 48px;
    height: 48px;
    background-color: #F9AC54;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.benefit-item h3 {
    font-size: 18px;
    margin: 10px 0;
    color: white;
}

.benefit-item p {
    font-size: 14px;
    color: #aaa;
    line-height: 1.5;
}

/* Pricing Plans Section */
.pricing-plans {
    text-align: center;
    color: white;
    padding: 60px 20px;
    background-color: #111317;
    margin-top: 250px;
}

.pricing-plans h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.pricing-plans p {
    color: #ccc;
    margin-bottom: 40px;
    font-size: 16px;
}

.plans-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.plan {
    background-color: #22252a;
    color: white;
    padding: 30px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    min-height: 400px;
    transition: all 0.3s ease-in-out;
}

.plan:hover {
    background-color: #272a30;
    border: 2px solid #4affff;
    transform: scale(1.05);
    /* Aumenta o card ao passar o mouse */

}

.plan h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.plan .price {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0;
    color: #f9ac54;
}

.plan hr {
    border: none;
    height: 1px;
    background-color: #444;
    margin: 15px 0;
}

.plan ul {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    flex-grow: 1;
}

.plan ul li {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 8px;
}

.join-now {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #f9ac54;
    border: 1px solid #f9ac54;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: auto;
}

.join-now:hover {
    background-color: #4affff;
    color: white;
}

/* div membro */

.membro {
    background-color: #1c1f24;
    color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}

.membro-conteudo {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;

}

.review {
    font-size: 50px;
    color: #f9ac54;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.rating {
    color: #f9ac54;
    font-size: 24px;
    margin-top: 10px;
}

.reviewer-info {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-top: 70px;
}

.reviewer-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.reviewer-photo:hover {
    transform: scale(1.10);
}
.reviewer-details h3 {
    font-size: 18px;
    margin: 0;
}

.reviewer-details p {
    font-size: 14px;
    color: #a0a0a0;
    margin: 0;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.nav-button {
    background: none;
    border: 2px solid #f9ac54;
    font-size: 20px;
    margin-top: 20px;
    color: #f9ac54;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    color: #ffffff;
    background-color: #f9ac54;
}

/* rodapé */

.footer {
    background-color: #1c1e24;
    color: #ffffff;
    padding: 40px 20px;
    margin-top: 50px;
    transition: background-color 0.3s ease;
}

.footer:hover {
    background-color: #272a30;
    /* Escurece o fundo ao passar o mouse */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 150px;
    margin: 20px;
}

.logo-section {
    flex: 2;
    max-width: 300px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #b3b3b3;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #4affff;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icons a {
    color: #f9ac54;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111317;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    color: #ffffff;
    background-color: #f9ac54;
    transform: rotate(360deg);
    /* Efeito de rotação */
}

.logo-img {
    width: 190px;
    margin-top: -70px;
    transform-origin: center;
    transition: transform 0.3s ease;
}
.logo-img:hover {
    transform: scale(1.10);
}